
.main {
    background-color:#4F6D7A; 
    font-size: 14px;
    font-family:"Circular", "-apple-system", "system-ui", "Roboto", "Helvetica Neue", sans-serif;
    color:#EAEAEA;
    border:1px solid #4F6D7A ;
    border-radius:2%;
    padding:20px;
    

}
.app{
    padding:20px;
    height:500px;
    border:1px solid;
    

}

button.btn{

    width:250px;
    height:50px;
    padding:5px;
    margin:10px;
    background-color:#EAEAEA;
    border-color:#EAEAEA;
    color:black;
}
button.btn:hover{
    transform :  scaleX(1.1);
    background-color:#DD6E42 ;
    border-color:#DD6E42;
}


